.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  text-align: left;
  background-color: #FF934F;
  border-radius: 25px;
  margin: 20px;
}
a:link { text-decoration: none; }

.spotifyHeader {
  font-size: 30px;
  font-weight: bold;
  color: #F1F0EA;
  text-decoration: none;
}

.spotifyBtn {
  background: #FF934F;
  color: #F1F0EA;
  font-size: 30px;
  font-weight: bold;
  border: none;
}

.plsLogin {
  background-color: #8980F5;
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  padding: 50px 0;
  font-size: 25px;
  color: black;

}

.sliders {
  /* display: flex;
  align-items: center;  */
  align-items: center; 
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
}

/* Optional: Add some spacing between the label and the slider */
.sliders label {
  margin-right: 10px;
}

.spotifyNewMusicBtn {
  background: #FF934F;
  color: #F1F0EA;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
}