.App {
  text-align: center;
  min-height: 100vh; /* Use min-height instead of height to allow scrolling */
  /* background-color: #B07BAC; */
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(176,123,172,1) 56%);
  display: flex; 
  justify-content: center; 
  /* align-items: center;  */
}

.App-header {
  padding: 20px;
  text-align: left;
  background-color: #442B48;
  border-radius: 25px;
  margin: 20px;
}

.temp {
  padding: 20px;
  text-align: right;
  background-color: #442B48;
  
  border-radius: 25px;
  margin: 20px;
  border-color: #DB7F67;
  border-width: medium;
  border-style: solid;
}

a:link { text-decoration: none; }

.spotifyHeader {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.spotifyBtn {
  background: #442B48;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border: none;
}

.spotifyBtn:active {
  color: #B07BAC;
}


.plsLogin {
  background-color: #087F8C;
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  padding: 50px;
  font-size: 25px;
  color: #B8E1FF;
  font-weight: bold;

}

.sliders {
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: bold;
}

.sliders label {
  margin-right: 10px;
  margin-top: 6px;
}

.slider-subtitle {
  color: #fcf8f8;
  font-size: 12px;
  margin-top: 2px;
}

.spotifyNewMusicBtn {
  
  background: #FBC2B5;
  color: #071E22;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border-color: white;
  /* border-width: medium;
  border-style: solid; */
}

/* .spotifyNewMusicBtn:active {
  background: #FFDDE2;
  color: #071E22;
} */

.spotifyNewMusicBtn:hover {background-color: #F78154}

.trackBtn {
  background-color: #AA7BC3;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  color: #071E22;
  font-size: 15px;
  border-color: #0F3337;
  border-width: medium;
  border-style: solid;
  /* border: 10px; */
}

.trackBtn:focus {
  background-color: #FFDDE2;
  color: #071E22;
}

.displayBg {
  border-color: #DB7F67;
  border-width: medium;
  border-style: solid;
  background: #087F8C;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-right: 20%; */
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.sliderHeading {
  background: #FBC2B5;
  color: #071E22;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border-color: #F1F0EA;
  border-width: none;
  border-style: none;  
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-basis: 100%;
  flex: 1;
}

.explainTxt {
  color: #B8E1FF;
  font-weight: bold;
  padding: 10px;
  border-style: none;  
  border-radius: 25px;
  /* background-color: #B8E1FF; */
  margin: 10px;
  line-height: 1.0;
}

.describeTheApp {
  
  color: #FBC2B5;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-style: none;  
  border-radius: 25px;
  /* background-color: #B8E1FF; */
  margin: 30px;
  line-height: 1.0;
  font-size: 30px;
}

.findNewMusic {
  border-color: #DB7F67;
  border-width: medium;
  border-style: solid;
  background-color: #442B48;

}

.radioBtn {
  width: 20px;
  height: 20px;

}

.savethisplaylist {
  font-size: 15px;
  padding: 5px;
  background-color: #F78154;
}

