.App {
  text-align: center;
  min-height: 100vh; /* Use min-height instead of height to allow scrolling */
  background-color: #071E22;
  display: flex; 
  justify-content: center; 
  /* align-items: center;  */
}

.App-header {
  padding: 20px;
  text-align: left;
  background-color: #1DB954;
  border-radius: 25px;
  margin: 20px;
}

.temp {
  padding: 20px;
  text-align: right;
  background-color: #1DB954;
  border-radius: 25px;
  margin: 20px;
}

a:link { text-decoration: none; }

.spotifyHeader {
  font-size: 30px;
  font-weight: bold;
  color: #F1F0EA;
  text-decoration: none;
}

.spotifyBtn {
  background: #1DB954;
  color: #F1F0EA;
  font-size: 30px;
  font-weight: bold;
  border: none;
}

.plsLogin {
  background-color: #1D7874;
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  padding: 50px;
  font-size: 25px;
  color: black;
  font-weight: bold;

}

.sliders {
  /* display: flex;
  align-items: center;  */
  /* align-items: center; 
  position: absolute; */
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-weight: bold;
}

.sliders label {
  margin-right: 10px;
}

.spotifyNewMusicBtn {
  background: #1DB954;
  color: #F1F0EA;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
